@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('./fonts/OpenSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./fonts/OpenSansCondensed-LightItalic.woff2') format('woff2'),
        url('./fonts/OpenSansCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('./fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

